#redirectionio #rio_connections .form-table th {
    width: auto;
}

#redirectionio #rio_connections .form-table input[type=text] {
    width: 200px;
}

#redirectionio #rio_connections .rio_connections_remove {
    color: red;
    cursor: pointer;
    font-size: 1.1em;
    height: 1.1em;
    width: 1.1em;
}

#redirectionio #rio_connections #rio_connections_add {
    margin: 20px auto;
}

#redirectionio #rio_connections .rio_connection_status {
    border-radius: 5px; 
    color: white;
    display: inline-block;
    padding: 1px 12px 1px 6px;
}

#redirectionio #rio_connections .rio_connection_status.rio_connection_working {
    background: rgb(103,172,92);
}

#redirectionio #rio_connections .rio_connection_status.rio_connection_not_working {
    background: rgb(225,82,66);
}

#redirectionio ul {
    list-style-type: disc;
    margin-left: 40px;
}
